.timer {
    color: red;
    font-size: 40px;
    font-weight: bold;
}

html,body {
    text-align: center;
    margin:0;
    padding: 0;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    /*超链接无下划线*/
}

footer a:hover {
    text-decoration: underline;
    /*鼠标放上去有下划线*/
}

.button {
    border: 0px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    font-size: 15px;
    height: 25px;
}

.button:hover {
    background-color: #C8C8C8;
}

footer {
    background-color: #323232;
    color: #FFFFFF;
    font-size: 12px;
    width: 100%;
}

.footer {
    color: #FFFFFF;
}

.background{
    background-image: url(background_1.png);
    background-size: 300px;
    background-color: #d2d2d2;
    margin: 0px;
}

.text{
    width: 60px;
    height: 15px;
}

#university{
    border-width: 0px;
    width: 150px;
    height: 20px;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width:100%;
}

.p_zhcj_gkcj{
    margin: 8px
}